#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 800px;
  min-height: 360px;
}

.form-container {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-top: 15px;
  gap: 10px;
}

p {
  color: red;
  margin: 2px;
}

input {
  font-size: 28px;
  border: 1px solid blue;
  border-radius: 10px;
}

.input-error {
  border-color: red;
}

.delivery {
  display: flex;
  flex-direction: column;

  margin-top: 15px;
  gap: 10px;
}
