#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 800px;
  min-height: 360px;
}

.form-container {
  position: relative;

  display: flex;
  flex-direction: column;

  margin-top: 15px;
  gap: 10px;
}

input {
  font-size: 28px;
  border: 1px solid blue;
  border-radius: 10px;
}

.input-error {
  border-color: red;
}

.delivery {
  display: flex;
  flex-direction: column;

  margin-top: 15px;
  gap: 10px;
}

p {
  color: red;
  margin: 0px;

  display: inline;
  max-width: max-content;
}

.apartmentNumber-input {
  width: 100%;
}

.header-button {
  margin: 10px;
}

.controllers-container {
  height: 260px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 600px;

  max-height: 400px;
}
